.header-pic{
    max-width: 1920px;
    min-width: 1200px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid red;
    background: url('/cn/aboult/11.jpg') no-repeat top center;
}
.heaer-pic-inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header-word{
    position: absolute;
    bottom: 10px;
    left: 0px;
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
}