.header-pic, .header-middle-pic{
    max-width: 1920px;
    min-width: 1200px;
    height: 250px;
    background: url('/cn/aboult/11.jpg') no-repeat top center;
    margin: 0 auto;
}
.heaer-pic-inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header-word{
    position: absolute;
    bottom: 10px;
    left: 0px;
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
}
.about-wrap{
    width: 1200px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.about-meau{
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}
.aboult-desc-title{
    color: #2c2c2c;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.aboult-desc-cont{
    color: #565656;
    font-size: 14px;
    text-indent: 2em;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.7;
}
.aboult-pic-btn{
    list-style-type: none;
    height: 30px;
    margin-bottom: 18px;
}
.aboult-pic-btn li{
    float: left;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #2c2c2c;
    border: 1px solid #6fafe8;
    cursor: pointer;
}
.aboult-pic-btn .aboult-pic-btn-active{
    background-color: #6fafe8;
    color: white;
}
.aboult-pic-wrap{
    height: 355px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.aboult-pic-wrap .aboult-pic-wrap-gc,.aboult-pic-wrap .aboult-pic-wrap-ck{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 360px;
    text-align: center;
}
.aboult-pic-wrap-gc{
    z-index: 10;
}
.aboult-pic-wrap-ck{
    z-index: 9;
    display: none;
}

.header-middle-pic{
    max-width: 1920px;
    min-width: 1200px;
    height: 350px;
    background: url('/cn/aboult/lme.jpg') no-repeat top center;
    margin: 0 auto;
}
.company-warp{
    /*border: 1px solid red;*/
    width: 1200px;
    margin: 50px auto;
}
.company-warp .company-warp-p{
    font-size: 14px;
    color: 565656;
    line-height: 30px;
}
.company-warp .company-warp-p span{
    font-size: 18px;
    color: #2c2c2c;
}
.company-warp > img{
    width: 1200px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.full-zz{
    width: 100%;
    background-color: #f8f8f8;
}
.zz{
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
}

.zz .zz-left,.zz .zz-right{
    float: left;
    /*border: 1px solid green;*/
}
.zz .zz-left{
    padding-top: 10px;
    font-size: 14px;
    color: #565656;
    width: 650px;
    /*border: 1px solid green;*/
    padding-right: 48px;
}
.zz .zz-left > p{
    margin-bottom: 20px;
    text-align: justify;
}

.company-warp .zz-right{
    width: 500px;
    background-color: #fff;
    /*border: 1px solid #ccc;*/
}

.fix-go-top{
    position: fixed;
    top: 30%;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;line-height: 50px;
    cursor: pointer;
    display: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.fix-go-top:hover{
    background-color: #6fafe8;
    color: white;
    border-color: white;
}