.product-meau{
    list-style-type: none;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}
.product-inner-item{
    height: 80px;
    margin-right: 25px;
    font-size: 16px;
    float: left;
    text-align: center;
    display: block;
    text-decoration: none;
    border-bottom: 5px solid #fff;
    transition: all 0.2s;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.product-inner-item .product-inner-item-icon{
    width: 100%;
    height: 47px;
    background-size: 55px 47px;
}
.product-inner-item:hover{
    border-bottom: 5px solid #6fafe8;
}
.product-inner-item:hover p{
    color: #6fafe8!important;
}