@charset "utf-8";
*{
    margin:0; 
    padding:0; 
    list-style:none; 
    border: 0;
}
img{ 
    border:0;  
}
.picScroll-left{
    width: 1200px;
    height: 355px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    /*margin-left: auto;
    margin-right: auto;*/
    /*margin-top: 100px;*/
}

/*切换按钮*/
.picScroll-left .prev,.picScroll-left .next{
    position: absolute;
    display:block;
    width: 50px;
    height: 100%;
    cursor:pointer;
    overflow:hidden;
    top: 0;
}
.picScroll-left .prev{
    left: 0;
    background: url(/cn/aboult/l1.png) no-repeat center center;
}
.picScroll-left .next{
    right: 0;
    background: url(/cn/aboult/r1.png) no-repeat center center;
}

.picScroll-left .prev:hover{
    background: url(/cn/aboult/l2.png) no-repeat center center;
}
.picScroll-left .next:hover{
    background: url(/cn/aboult/r2.png) no-repeat center center;
}   

/*图片区域*/
.picScroll-left .bd{
    width: 1100px;
    margin: 20px auto 0;
}

.picScroll-left .bd ul{ 
    overflow:hidden;
}

.picScroll-left .bd ul li{ 
    margin:0 5.5px;
    width:395px;
    float:left;
    display:inline; 
    overflow:hidden; 
    text-align:center;  
}

.picScroll-left .bd ul li .pic{
    text-align:center;
}

.picScroll-left .bd ul li .pic img{ 
    display:block; 
}

.picScroll-left .bd ul li .title{ 
    line-height:50px;
}