*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: "微软雅黑","weiruanyahei","宋体";
}
.wrap{
    padding: 0!important;
    position: relative;
}
.fix-meau-wrap{
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 999;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 0px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -ms-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
}
.fix-meau-show{
    height: 200px;
}

.fix-meau-div{
    width: 1200px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.fix-meau-ul{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    display: block;
    width: 100%;
}

.fix-meau-ul > li{
    list-style-type: none;
    display: inline-block;
    margin-right: 52px;
}
.fix-meau-ul > li > a{
    display: inline-block;
    padding-top: 24px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}
.fix-meau-ul > li:hover a span{
    color: #6fafe8;
    text-decoration: underline;
}
.fix-meau-ul > li > a > img{
    margin-bottom: 24px;
}
.fix-meau-ul > li > a i {
    vertical-align: middle;
    padding-right: 5px;
}


.header{
    width: 1200px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
}
.lang{
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 12px;
    color: #656565;
    line-height: 40px;
}
.lang select{
    height: 20px;
    margin-top: 14px;
    margin-left: 12px;
    background-color: #e8e8e8;
    cursor: pointer;
}
.lang-sline{
    padding-left: 12px;
}


.content-wrap{
    width: 100%;
}


.xkkb-meau{
    height: 70px;
    width: 100%;
    margin: 0 auto;
}
.xkkb-meau .logo{
    height: 70px;
    width: 70px;
    overflow: hidden;
    float: left;
}
.xkkb-meau .meau-first{
    list-style-type: none;
    text-align: center;
    float: left;
    margin-left: 30px;
    padding: 0px;
    line-height: 70px;
}

.xkkb-meau .meau-first > li{
    height: 70px;
    float: left;
    font-size: 16px;
    
}
.xkkb-meau .meau-first li a{
    display: block;
    width: 100%;
    color: #000000;
    padding: 0 30px 0 30px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.xkkb-meau .meau-first > li > a:hover{
    color: #ffffff;
    background-color: #6fafe8;
}
.xkkb-meau .meau-first li .active{
    color: #ffffff;
    background-color: #6fafe8;
    text-decoration: none;
}
.xkkb-meau .search{
    position: relative;
    float: right;
    border: 1px solid #d4d3d3;
    height: 26px;
    /*line-height: 26px;*/
    width: 205px;
    margin-top: 22px;
    overflow: hidden;
    border-radius: 18px;
}
.xkkb-meau .search span{
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    top: -2px;
    right: 10px;
}
.xkkb-meau .search span i{
    font-size: 13px;
    color: #999;
    font-weight: 100;
    cursor: pointer;
}
.xkkb-meau .search input{
    width: 208px;
    height: 28px;
    margin-top: -1px;
    margin-left: -1px;
    text-indent: 1em;
    background-color: rgba(0,0,0,0);
}


.footer-wrap{
    width: 100%;
    background-color: #f8f8f8;
}
.footer-meau{
    width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 5px;
    overflow: hidden;
}
.footer-meau h5{
    color: #2c2c2c;
}
.footer-meau > div{
    float: left;
    margin-right: 100px;
}
.footer-ul{
    list-style-type: none;
    font-size: 12px;
    margin-top: 15px;
    padding-bottom: 15px;
}
.footer-ul a{
    color: #656565;
    text-decoration: none;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
}
.footer-ul a:hover{
    color: #6fafe8;
    text-decoration: none;
}
.contact{
    position: relative;
    margin-right: 0px!important;
    width: 350px;
}
.phone{
    position: absolute;
    right: 0px;
    top: 5px;
}
.phone span{
    font-size: 13px;
}
.phone i{
    font-size: 20px;
    font-family: "Georgia";
    color: orange;
}
.common-info{
    background-color: #ccc;
    text-align: center;
    font-size: 12px;
    color: black;
    padding-top: 15px;
    padding-bottom: 10px;
}
.common-info p{
    margin-bottom: 5px;
}
.ewm{
    margin-top: 10px;
    margin-left: 105px;
}