*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: "微软雅黑","weiruanyahei","宋体";
    /*background-color: #eff0f4;*/
}
.wrap{
    padding: 0!important;
    position: relative;
}

/*下拉菜单开始*/
.meaus-wrap{
    width: 840px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 100px;
}
.meaus-wrap-meau{
    width: 100%;
    height: 100%;
    line-height: 70px;
}
.meaus-wrap-meau > a{
    color: #000000;
    display: inline-block;
    width: 115.4px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.meaus-wrap-meau > a:hover{
    color: #ffffff;
    background-color: #6fafe8;
}
.meaus-wrap-hide{
    /*width: 100%;*/
    width: 1200px;
    /*width: 1920px;*/
    height: 209px;
    overflow: hidden;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    /*background-color: black;*/
    /*margin: 0px -460px 0;*/
    margin-left: -100px;

    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -ms-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
}
.meaus-wrap-show{
    height: 209px;
}

.fix-meau-ul{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
}

.fix-meau-ul > li{
    list-style-type: none;
    display: inline-block;
    margin-right: 52px;
    vertical-align: top;
}
.fix-meau-ul > li > a{
    display: inline-block;
    padding-top: 22px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}
.fix-meau-ul > li > a > div{
    line-height: 50px;
}
.fix-meau-ul > li:hover a span{
    color: #6fafe8;
    text-decoration: underline;
}

.fix-meau-ul > li > a i {
    vertical-align: middle;
    padding-right: 5px;
}
/*下拉菜单结束*/

.header{
    width: 1200px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}
.lang{
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 12px;
    color: #656565;
    line-height: 40px;
}
.lang select{
    height: 20px;
    margin-top: 14px;
    margin-left: 12px;
    background-color: #e8e8e8;
    cursor: pointer;
}
.lang-sline{
    padding-left: 12px;
}


.content-wrap{
    width: 100%;
}


.xkkb-meau{
    height: 70px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.xkkb-meau .logo{
    height: 70px;
    width: 70px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


.xkkb-meau .search{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #d4d3d3;
    height: 26px;
    width: 205px;
    margin-top: 22px;
    overflow: hidden;
    border-radius: 18px;
}
/*.xkkb-meau .search span{
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    top: -2px;
    right: 10px;
}*/
.xkkb-meau .search i{
    font-size: 14px;
    color: #999;
    font-weight: 100;
    cursor: pointer;
    display: block;
    width: 38px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}
.xkkb-meau .search:hover i{
    color: #6fafe8;
}
.xkkb-meau .search input{
    width: 208px;
    height: 28px;
    margin-top: -1px;
    margin-left: -1px;
    text-indent: 1em;
    background-color: rgba(0,0,0,0);
    color: #656565;
}


.footer-wrap{
    width: 100%;
    background-color: #e7eaea;
    min-width: 1200px;
    margin: 0 auto;
}
.footer-meau{
    width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 5px;
    overflow: hidden;
}
.footer-meau h5{
    color: #2c2c2c;
    padding-bottom: 6px;
    border-bottom: 1px solid #d4d3d3;
}
.footer-meau > div{
    float: left;
    margin-right: 100px;
}
.footer-ul{
    list-style-type: none;
    font-size: 12px;
    margin-top: 15px;
    padding-bottom: 15px;
}
.footer-ul a{
    color: #656565;
    text-decoration: none;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
}
.footer-ul a:hover{
    color: #6fafe8;
    text-decoration: none;
}
.contact{
    position: relative;
    margin-right: 0px!important;
    width: 350px;
}
.phone{
    position: absolute;
    right: 0px;
    top: 5px;
}
.phone span{
    font-size: 13px;
}
.phone a{
    font-size: 20px;
    font-family: "Georgia";
    color: #6fafe8;
    text-decoration: none;
}
.common-info{
    min-width: 1200px;
    margin: 0 auto;
    background-color: #323232;
    text-align: center;
    font-size: 12px;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}
.common-info p{
    margin-bottom: 5px;
}
.ewm{
    margin-top: 10px;
    margin-left: 105px;
}

/*菜单激活样式*/
.layout-meau-active{
    color: #ffffff!important;
    background-color: #6fafe8;   
}

/*分页样式*/
.xkkb-pagination{
    list-style: none;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}
.xkkb-pagination li{
    margin: 0 3px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #6fafe8;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.xkkb-pagination li:hover,.xkkb-pagination .active{
    background-color: #6fafe8;
}

.xkkb-pagination li a{
    font-size: 14px;
    padding: 0 16px;
    text-decoration: none;
    color: #565656;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 38px;
    height: 38px;
}
.xkkb-pagination .active a,.xkkb-pagination li:hover a{
    color: white!important;
}
.xkkb-pagination .prev a,.xkkb-pagination .next a{
    color: #6fafe8;
}

.xkkb-pagination .disabled{
    display: none;
}

.fix-contact{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 999;
    display: none;
}
.fix-contact-inner{
    width: 500px!important;
    height: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    padding: 30px 20px 0 20px!important;
    box-sizing: border-box;
}
.fix-contact-inner .int-div{
    margin-bottom: 20px;
    position: relative;
}
.fix-contact-inner .int-div input{
    border: 1px solid #ccc;
    width: 100%;
    height: 40px;
    line-height: normal;
    padding-left: 40px;
    box-sizing: border-box;
}

.fix-contact-inner .int-div textarea{
    border: 1px solid #ccc;
    width: 100%;
    font-family: "微软雅黑";
    font-size: 13px;
    padding: 10px;
    box-sizing: border-box;
}
#sub,#clo{
    border: 1px solid #6fafe8;
    width: 100px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    background-color: #6fafe8;
    color: white;
    margin-top: -10px;
    float: left;
    margin-right: 15px;
}
#clo{
    background-color: #ccc;
    border: 1px solid #ccc;
}

.fix-contact-inner span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.fix-contact-inner .int-name{
    background: url(/imgs/user.png) no-repeat center;
}
.fix-contact-inner .int-mobile{
    background: url(/imgs/phone.png) no-repeat center;
}
.fix-contact-inner .int-addr{
    background: url(/imgs/addr.png) no-repeat center;
}
.fix-contact-inner .int-email{
    background: url(/imgs/email.png) no-repeat center;
}

#show-div{
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*侧边固定导航菜单*/
.fix-right-wrmp{
    width: 60px;
    position: fixed;
    top: 60%;
    right: 5px;
    overflow: hidden;
}
.fix-right-wrmp > ul{
    list-style: none;
    width: 100%;
}
.fix-right-wrmp > ul > li{
    width: 58;
    height: 58px;
    border: 1px solid #ccc;
    background-color: rgba(255,255,2550,.3);
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    color: #565656;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.fix-right-wrmp > ul > li:hover{
    background-color: #6fafe8;
    color: white;
}
.fix-go-top{
    display: none;
    border-bottom: 0!important;
}