/*.banner-wrap{
    max-width: 1920px;
    min-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}*/
.js-silder{
    max-width: 1920px;
    min-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.silder-main-img{
    height: 100%;
}
.pro-list-wrap{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}
.pro-list-div{
    float: left;
    width: 300px;
    height: 200px;
    background-color: #e8e8e8;
    position: relative;
}
.pro-list-div .pic{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 11;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.pro-list-div:hover .pic{
    bottom: 120px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    -o-box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
}
.pro-list-div .pic img{
    width: 300px;
    height: 200px;
    cursor: pointer;
}
.pic-content{
    width: 250px;
    height: 85px;
    position: absolute;
    left: 30px;
    bottom: 0;
    z-index: 10;
}
.pic-content li {
    padding-top: 5px;
}
.pic-content a{
    color: #656565;
    font-size: 12px;
}
.pic-content a:hover{
    color: #6fafe8;
}